:root{
    --text-color: #251d1e;
    --body-color: #8071c5;
}
body.dark-theme {
    --text-color: #fefbfe;
    --body-color: #251d1e;; 
}
.change-theme{
    position: absolute;
    right: 1.5rem;
    top: 2.2rem;
    font-size: 2rem;
    cursor:pointer;
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    line-height: 1.6;
}
img{ max-width: 100%; height: auto;}
.container{
 max-width: 956px;
 margin-left: 1.5rem;
 margin-right: 1.5rem;
}
.grid{ display: grid;}
.home-img{width: 280px; 
        justify-self: center;}
.home-titel{ font-size: 2rem; font-weight: 800;
             margin-bottom: 1rem;}
.dis{ margin-bottom: 1.5rem;}   
.button{
    display: inline-block;
    background-color:blue;
    color: cornsilk;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 700;
}          
@media(min-width: 570px){
.container{ grid-template-columns: repeat(2, 1fr);
    padding: 5rem 2rem 0;
    align-items: center;
    margin: auto;
}
.home-img{ width: 100%; order: 1;}
}